/* Overall Section Styling */
.karir-benefit-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 80px;
    background-color: #F3F8FF !important;
    transition: background-color 0.5s ease;
}

.karir-benefit-section:hover {
    background-color: #E6F0FF !important; /* Subtle change on hover */
}

/* Image Styling */
.karir-benefit-image img {
    max-width: 500px;
    transform: scale(1);
    transition: transform 0.5s ease;
}

.karir-benefit-section:hover .karir-benefit-image img {
    transform: scale(1.05); /* Slight zoom effect on hover */
}

/* Content Styling */
.karir-benefit-content {
    max-width: 50%;
}

.benefit-title {
    font-size: 2.0rem;
    color: #464646;
    margin-bottom: 20px;
    transition: color 0.3s ease;
}

.karir-benefit-section:hover .benefit-title {
    color: #06479d; /* Color change on hover */
}

/* Benefit List Styling */
.benefit-list {
    list-style-type: none;
    padding: 0;
    font-size: 1.2rem;
    color: #555;
}

.benefit-list li {
    margin-bottom: 15px;
}

/* Loading Spinner */
.loading-placeholder {
    font-size: 1.5rem;
    color: #555;
    text-align: center;
    padding: 20px;
    animation: fadeIn 1.5s infinite;
  }
  
  @keyframes fadeIn {
    0%,
    100% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
  }
  
  .loading-spinner {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #06479d;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 0 auto 20px;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
/* Responsive Styling */
@media (max-width: 900px) {
    .karir-benefit-section {
      flex-direction: column;
      text-align: center;
    }

    .karir-benefit-content {
      max-width: 100%;
      margin-top: 30px;
    }

    .karir-benefit-image {
      justify-content: center;
    }
    .karir-benefit-image img {
        width: 100% ;
      }
}
