/* Section Styling */
.privacy-policy-section {
    padding: 60px 20px;
    background-color: #f7f9fc !important;
    text-align: center;
    margin-top: 60px;
}

.privacy-header h2 {
    font-size: 2.5rem;
    color: #06479d;
    margin-bottom: 10px;
}

.privacy-header p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 20px;
}

.last-updated {
    color: #777;
    font-size: 0.9rem;
    margin-top: 10px;
}

.privacy-content {
    text-align: justify;
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}

/* Additional Styling for HTML Elements */
.privacy-content h3 {
    font-size: 1.2rem;
    color: #06479d;
    margin-top: 20px;
    margin-bottom: 10px;
}

.privacy-content ul {
    padding-left: 20px;
    margin-bottom: 20px;
}

.privacy-content ol {
    padding-left: 20px;
    margin-bottom: 20px;
}

.privacy-content li {
    margin-bottom: 10px;
}
