.syarat-ketentuan-section {
    background-color: #f7f9fc;
    padding: 60px 40px;
    text-align: center;
}

.syarat-ketentuan-header {
    margin-bottom: 50px;
    margin-top: 80px;
}

.syarat-ketentuan-header h2 {
    font-size: 2.5rem;
    color: #06479d;
}

.header-subtitle {
    font-size: 1.2rem;
    color: #555;
    margin-top: 10px;
}

.last-update {
    font-size: 0.9rem;
    color: #888;
    margin-top: 5px;
    font-style: italic;
}

.syarat-ketentuan-content {
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
}

.terms-item {
    background-color: white;
    padding: 20px 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.terms-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.terms-item h3 {
    font-size: 1.6rem;
    color: #06479d;
    margin-bottom: 15px;
}

.terms-item p {
    font-size: 1.1rem;
    color: #555;
}

/* Responsive Styling */
@media (max-width: 768px) {
    .syarat-ketentuan-section {
      padding: 40px 20px;
    }
  
    .terms-item {
      padding: 20px;
    }
  
    .syarat-ketentuan-header h2 {
      font-size: 2rem;
    }
  
    .terms-item h3 {
      font-size: 1.4rem;
    }
}
