/* SyaratKetentuanSection.css */
.syarat-ketentuan-section {
    background-color: #f7f9fc;
    padding: 60px 0;
    color: #333;
    margin-top: 70px;
}

.syarat-ketentuan-header {
    text-align: center;
    margin-bottom: 40px;
    padding: 10px 60px;
}

.syarat-ketentuan-header h2 {
    font-size: 2.5rem;
    color: #06479d;
}

.syarat-ketentuan-header .header-subtitle {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #555;
}

.syarat-ketentuan-header .last-update {
    font-size: 1rem;
    color: #888;
}

.syarat-ketentuan-content {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
    text-align: left;
    padding: 10px 180px;
}

.syarat-ketentuan-content h3 {
    font-size: 1.8rem;
    color: #06479d;
    margin-bottom: 15px;
}

.syarat-ketentuan-content ul {
    list-style-type: disc;
    margin-left: 20px;
}

.syarat-ketentuan-content ul li {
    margin-bottom: 10px;
}

.syarat-ketentuan-content p {
    margin-bottom: 20px;
}

/* Responsive design */
@media (max-width: 1024px) {
    .syarat-ketentuan-content {
        padding: 10px 80px;
    }
}

@media (max-width: 768px) {
    .syarat-ketentuan-content h3 {
        font-size: 1.5rem;
    }

    .syarat-ketentuan-content {
        padding: 10px 60px;
    }
}
